<html>
	<head>
		<title>Hello world</title>

		<link href="https://fonts.googleapis.com/css?family=Open+sans|Roboto+Slab" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="static/main.css">

	</head>
	<body>
		<h1>CZ4031 - Project 2</h1>
		<p>
			<h3>Group Members</h3>
			<ul>
				<li>Dian Bakti</li>
				<li>Hartono</li>
				<li>Joshua Martin Tjahjadi</li>
				<li>Natalia Darmaja</li>
			</ul>
		</p>
		<p>
			<h3>
				Select an Input Type:
			</h3>
			<a href="/query">
				<button class="mainInput">
					Query
				</button>
			</a>
			<a href="/plan">
				<button class="mainInput">
					Plan
				</button>
			</a>
		</p>
	</body>
</html>

