<html>
	<head>
		<title>Hello world</title>

		<link href="https://fonts.googleapis.com/css?family=Open+sans|Roboto+Slab" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="static/main.css">
		<script src="static/main.js"></script>
		<script>
			function formatData() {
				data = document.getElementById("plan").value;
				type = 2;
				handleSubmit({type, data})
			}
		</script>
	</head>
	<body>
		<h1>Plan Page</h1>
			<div>
				<textarea id="plan" rows="20" cols="75"></textarea>
			</div>
			<button class="command" onclick="formatData()">Submit</button>
			<h3>Result</h3>
			<div id="result"></div>
			<button class="command" onclick="speak()">Speak</button>
	</body>
</html>

